* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 178, 178);
    /* margin-bottom: 2rem; */
    padding: 1rem;
}

.menu {
    position: absolute;
    left: 0;
    padding-left: 1rem;
}

/* Replace with image and set size */
.menu button {
    font-size: 1.5rem;
}

.nav-links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: rgb(190, 178, 178);
}

.link-item {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0.5rem;
}
