* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-color: rgb(190, 178, 178);
}

select {
  width: 100%; 
  margin: 0.75rem 1rem;
  padding: 0.75rem;
}

option {
  padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--header-color);
    padding: 1rem 0rem;
    height: 60px;
}

.menu {
  position: absolute;
  right: 0;
  padding-right: 1rem;
}

/* Replace with image and set size */
.menu button {
  font-size: 1.5rem;
}

.nav-links {
    position: absolute;
    top: 60px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--header-color);
}

.link-item {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0.5rem;
}

.dino-list {
  text-align: center;
  padding: 1.5rem 0rem;
}

.dino-list-item {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.284);
  padding: 1rem 0rem;
  margin: 0.5rem;
  text-align: left;
  border-radius: 5px;
  overflow: hidden;
}

.dinoCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dinoCard-title {
  font-size: 24pt;
  color: black;
  text-decoration: none;
}

.detail-div {
    height: 232px;
}

.dinoCard-description{
    color: grey;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 40%;
    overflow: hidden;
}

.moreInfo {
  padding: 0.5rem;
}

.dinoInfo {
  width: calc(100vw - 1rem);
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 1rem;
  align-items: center;
  margin-inline: auto;
}

.dinoInfo-header {
  align-self: center;
  text-transform: uppercase;
}

.dinoInfo-img {
  margin-inline: 0.25rem;
}

.dinoInfo-img > img {
  width: calc(100% - 0.25rem);
  margin-inline: 0.25rem;
}

.dinoInfo-content{
    padding: 0.5rem;
    max-width: calc(100vw - 2rem);
    background-color: lightgray;
}

b {
  text-transform: capitalize;
}

.page-switch-buttons {
  display: flex;
  justify-content: center;
}

.page-switch-buttons button,
.page-switch-buttons div {
  margin: 0 5px;
  padding: 1rem;
}

.chartList{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.search{
  padding: 0.75rem;
  border: none;
  box-shadow:  0 1px 5px rgba(0, 0, 0, 0.284);
  margin: 0.75rem 1rem;
  width: 100%;
  height: 2.5rem;
}

.filter{
  padding: 0.75rem;
  border: none;
  box-shadow:  0 1px 5px rgba(0, 0, 0, 0.284);
  margin: 0.75rem 1rem;
  width: 100%;
  height: 2.5rem;
}

.input-bars{
  display: flex;
  justify-content: center;

}

.filter-drop{
  display: flex;
  flex-direction: column;
  width: 25%;
}

.filter-selections{
  display: flex;
  gap: 0.5rem;
}

@media (min-width: 1250px) {
    .dino-list {
        display: flex;
        flex-wrap: wrap; /* Force container stacking */
        width: 100%;
        justify-content: center;
    }
    
    .dino-list-item{
        width: 40%; /* 2 column display */
        justify-content: center;
    }

    .menu {
        display: none; /* Hide menu button for large screens */
    }

    .nav-list {
        display: flex;
        flex-direction: row; /* Horizontal display for large screens */
    }

    .app-name {
        width: 40%; /* Place app name in the side */
    }

    .nav-links {
        position: relative;
        top: 0;
        width: 40%; /* Place nav links in the side */
    }

    .link-item {
        padding: 0rem 1rem; /* Add space between links */
    }
    
    .search{
      width: 20%;
      margin-inline: 8rem;
  }
}

@media (max-width: 520px) {
    .dinoCard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dinoCard-title, .dinoCard-description, .moreInfo-div {
        text-align: center;
    }
}